/************************************
GENERAL STYLES 
************************************/

* {
  box-sizing: border-box; 
}

body {
  color: #797e83;
  font-size: 1em;
  margin: 0;
  font-family: verdana;
  line-height: 1.5;
  background: #2D0255;
}


.wrapper{
	width: 90%;
	max-width: 1200px;
	margin: auto;
	min-height: calc(100vh-5em);
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}


/************************************
HEADER 
************************************/


.logo a{
	display: block;
	margin: auto;
    text-align: center;
    padding: 0.5em 0 1.5em 0;
    font-family: verdana;
    color: #F1EEF2;
    text-decoration: none;
    transition: text-shadow 0.6s;
}

.logo a:hover{
	/*border-bottom: 2px solid #556A01;*/
	text-shadow: 2px 2px 5px #ffffff;
}

.main_nav{
	margin:0;
	padding:0;
	margin-top: 0.8em;
}

.main_nav li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main_nav a{
	display: block;
	text-align: center;
	border-bottom: 1px solid #F1EEF2;
	text-decoration: none;
	margin: 0;
	font-size: 1.5em;
	color: #F1EEF2;
	transition: text-shadow 0.6s;
}

hr{
	display: none;
}

.main_nav a:hover{
	/*border-bottom: 2px solid #556A01;*/
	text-shadow: 2px 2px 5px #ffffff;
}

/************************************
MAIN CONTENT
************************************/

.container{
	width: 100%;
	margin: 0;
	padding: 0;
}

#tabs{
	text-align: center;
	margin: 0;
	padding: 0;
	/*padding-top: 1em;*/
}

#tabs div{
	display: inline-block;
	list-style-type: none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin: 1em 0 2em 0;
}

#tabs a{
	text-decoration: none;
	display: block;
	text-align: left;
	font-family: verdana;
	font-size: 1.7em;
	color: white;
}

#tabs img{
	width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.glow{
	transition: text-shadow 0.6s;
}

.glow:hover{
	text-shadow: 2px 2px 5px #ffffff;
}


/************************************
ABOUT PAGE
************************************/

#a_photo{
    display: block;
    width: 12em;
    height: auto;
    border-radius: 50%;
    padding: 0.5em;
    margin: auto;
}

.info{
	font-family: verdana;
	color: #F1EEF2;
	font-style: italic;
}

.aboutContent{
	font-family: verdana;
	color: #F1EEF2;
}

.skillsData{
	display: none;
}

.skillsDataSmall{
	width: 90%;
	margin: auto;
}

.purple{
	background: #C585FF;
}

.white{
	background: #ffffff;
}

.smallCircle{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.subHeading{
	display:none;
}

.resume{
	color: #F1EEF2;
	text-decoration: none;
	font-style: italic;
	transition: text-shadow 0.6s;
}

.resume:hover{
	text-shadow: 2px 2px 5px #ffffff;
}

.resumeContainer{
	width: 70%;
	margin: auto;
}

/******************************************************
DETAILS PAGE
******************************************************/

.projectImages{
	width: 90%;
	margin: auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.projectImages img{
	width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 1.5em;
}

.description{
	width: 90%;
	margin: auto;
}

.description p{
	color: #F1EEF2;
	font-family: verdana;
	font-size: 14px;
}

.link{
	width: 60%;
	margin: auto;
	text-align: center; 
	margin-bottom: 20px;
	background: #8400FF;
	padding: 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.link a{
	font-style: italic;
	color: #F1EEF2;
	font-size: 18px;
	transition: text-shadow 0.6s;
}

.link a:hover{
	text-shadow: 2px 2px 5px #ffffff;
}

/******************************************************
CONTACT PAGE
******************************************************/

.contactMe{
	width: 100%;
	margin: auto;
	/*background: red;*/
	background-image: url("../images/contactBackground.jpg");
	background-repeat: repeat-x;
	background-size: 100% 100%;
	opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 30px;
}

.contactHeading{
	color: #F1EEF2;
	font-family: "Kalam";
	font-size: 40px;
	text-shadow: 4px 4px 4px #aaa;
}

.contactText{
	color: #F1EEF2;
	font-family: "Kalam", serif;
	font-size: 18px;
	line-height: 30%;
	text-shadow: 2px 2px 4px #aaa;
}

.contactText1{
	color: #F1EEF2;
	font-family: "Kalam", serif;
	font-size: 26px;
	line-height: 90%;
	text-shadow: 4px 4px 4px #aaa;
}

.contactText a{
	color: #F1EEF2;
}


/******************************************************
MEDIA QUERIES
******************************************************/

/* Small Devices, Tablets */
@media only screen and (min-width : 850px) {

	
	/*********************
	NAVIGATION
	*********************/
	
	.logo{
		margin-top: 6px;
		float: left;
	}
	
	.main_nav{
		margin-top: 30px;
		float: right;
		margin-right: -36px;
	}
	
	.main_nav li{
		display: inline;
        padding: 1em;
        text-align: center;
        margin: 1em;
	}
    
    .main_nav a{
		border: none;
        display: inline-block;
	}
    
    /*********************
	MAIN CONTENT
	*********************/
    
    #tabs {
        padding-top: 4em;
    }
    
    .main_content{
    	width: 80%;
        margin: auto;
    }
    
    /*********************
	DETAILS PAGE
	*********************/
	
	hr{
		display: block;
	}
	
	.description p{
		font-size: 16px;
	}
	
	.link{
		margin-top: 2em;
		margin-bottom: 2em;
	}
	
	.link a{
		font-size: 22px;
	}
    
    /*********************
	ABOUT PAGE
	*********************/
	
	.aboutContainer{
		width: 100%;
		margin: auto;
	}
	
    #a_photo{
	    display: block;
	    width: 17em;
	    height: auto;
	    border-radius: 50%;
	    margin: auto;
    }
    
    .skillsDataSmall{
    	display: none;
    }
    
    .skillsData{
		display: block;
		width: 70%;
		margin: auto;
		border-spacing:0; /* Removes the cell spacing via CSS */
  		border-collapse: collapse;
	}
	
	.skillsData td{
		white-space:nowrap;
	}
	
	.skillsData .padCell{
		padding: 0 8px;
	}
		
	.circle{
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}
    
    .subHeading{
    	display: block;
    }
    
    .subHeadingSmall{
    	display: none;
    }
    
    
    /*********************
	CONTACT PAGE
	*********************/
    
	.contactMe{
		width: 90%;
	}
	
	.contactHeading{
		font-size: 52px;
	}
	
	.contactText{
		color: #F1EEF2;
		font-family: "Kalam", serif;
		font-size: 20px;
		line-height: 30%;
		text-shadow: 2px 2px 4px #aaa;
	}
	
	.contactText1{
		color: #F1EEF2;
		font-family: "Kalam", serif;
		font-size: 30px;
		line-height: 90%;
		text-shadow: 4px 4px 4px #aaa;
	}
    

