/************************************
GENERAL STYLES 
************************************/

* {
  box-sizing: border-box; 
}

body {
  color: #797e83;
  font-size: 1em;
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: white;
}


h2,h3{
	color: #9A2EFE;
}

h2{
	padding-bottom: 1em;
	text-align: center;
}


/************************************
MAIN CONTAINER
************************************/

.container{
	width: 90%;
	margin: auto;
}


/************************************
HEADER
************************************/

.main_header{
	position: fixed;
	padding-top: 1em;
	width: 100%;
	margin: auto;
	z-index: 999;
	top: 0;
	left: 0;
    right: 0;
    margin: 0 auto;
	background: white;
}

/************************************
LOGO
************************************/

.site_logo img{
	width: 100px;
	display: block;
	margin: auto;
}


/************************************
NAVIGATION
************************************/

.main_menu{
	margin-top: 1.5em;
	padding:0;
}

.main_menu li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main_menu a{
	display: block;
	text-align: center;
	border-bottom: 1px solid #848484;
	text-decoration: none;
	margin: 0;
	font-size: 1.5em;
	color: #9A2EFE
}

.main_menu a:hover{
	border-bottom: 3px solid #FACC2E;
}


/************************************
MAIN CONTENT
************************************/

.main_content{
	width: 100%;
	padding-top: 25em;
}


/************************************
SECTION ONE: ABOUT
************************************/

.section_about{
	padding: 3em;
	background: #BBBEBB;
	width: 100%;
	margin-bottom: 1em;
}

.image_about{
	border: 1px solid white;
	padding: 1em;
	background: white;
	display: none;
}

.image_about img{
	width: 100%;
	overflow: hidden;
}

.content_about{
	padding: 2em;
	background: white;
}

.image_about{
	display: none;
}


/************************************
SECTION TWO: SERVICES
************************************/

.section_services{
	padding: 3em;
	background: #BBBEBB;
	width: 100%;
	margin: 1em 0;
}

.content_serv{
	padding: 2em;
	background: white;
}

.services_menu{
	/*padding: 1em;*/
	/*background: white;*/
	width: 100%;
	margin: auto;
}

.services{
	margin: 0;
	padding:0;
	width: 100%;
}

.services li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}

.services a{
	text-decoration: none;
}

.services img{
	width: 5em;
	border-radius: 50%;
	display: block;
	margin: 1em auto;
}

.section_services{
	padding: 3em;
	background: #BBBEBB;
}

.image_services{
	display: none;
}

.image_services img{
	width: 100%;
	overflow: hidden;
}

.content_services{
	display: none;
}

.heading_services_up{
	text-align: center;
}



/************************************
SECTION THREE: TESTIMONIALS
************************************/


.section_testimonials{
	padding: 3em;
	background: #BBBEBB;
	width: 100%;
	margin: 1em 0;
}


.content_test{
	padding: 2em;
	background: white;
}

.testimonials_menu{
	/*padding: 1em;*/
	background: white;
}

.testimonials{
	margin: 0;
	padding:0;
}

.testimonials li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}

.testimonials a{
	text-decoration: none;
	height: 2em;
	width: 100%;
	background: #F2E0F7;
	padding: 5px 50px;
	color: #9A2EFE;
}

#tab1,#tab2,#tab3{
	display: none;
}



/************************************
SECTION FOUR: GALLERY
************************************/


.section_gallery{
	padding: 3em;
	background: #BBBEBB;
	width: 100%;
	margin: 1em 0;
}

.gallery{
	margin: 0;
	padding: 0;
}

.content_gallery{
	padding: 2em;
	background: white;
}

.gallery li{
	width: 100%;
	list-style-type: none;
	margin-top: 1em;
}

.gallery a{
	text-decoration: none;
}

.gallery img{
	width: 100%;
}



/************************************
SECTION FIVE: CONTACT
************************************/

.section_contact{
	padding: 3em;
	background: #BBBEBB;
	width: 100%;
	margin: 1em 0;
}

.content_contact{
	padding: 2em;
	background: white;
}

.info{
	width: 100%;
	text-align: center;
}

.blue{
	color: blue;
}

.underline{
	text-decoration: underline;
}

#map{
	width: 100%;
	height: 300px;
}


/************************************
CLEARFIX
************************************/

.clear::after{
	content: " ";
	display: table;
	clear: both;
}



/************************************
MEDIA QUERIES 1
************************************/

@media (min-width: 580px) {
	.gallery li{
		float: left;
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-top: 1em;
	}


}



/************************************
MEDIA QUERIES 2
************************************/

@media (min-width: 769px) {
	
/****************
HEADER
****************/
	
	.main-header {
		height: 120px;
		max-height: 120px;
	}
	.site_logo img{
		width: 80px;
	}
	.main_menu{
		margin-top: 1em;
		display: -webkit-box;
    	display: -webkit-flex;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-pack: justify;
    	-webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
	}
	.main_menu li{
		display: inline-block;
	}
	.main_menu a{
		border-bottom-color: transparent;
		font-size: 1.8em;
	}
	/*body{
		background: green;
	}*/


/****************
MAIN CONTENT
****************/

.main_content{
	padding-top: 12.5em;
}


	
/****************
SERVICES
****************/
	
	.services{
		margin: 0;
		padding:0;
		display: -webkit-box;
    	display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	
	.services img{
		width: 6em;
	}	
	
	.services img:hover{
		cursor: pointer;
	}
	
	
	.services_para_small{
		display: none;
	}
	
	.image_services{
		border: 1px solid white;
		padding: 1em;
		background: white;
		display: block;
	}
	
	.content_services{
		/*padding: 2em;*/
		background: white;
		display: block;
		padding-top: 1em;
	}
	
	#tabs2,#tabs3,#tabs4,#tabs5{
		display: none;
	}
	
	
/****************
TESTIMONIALS
****************/


	.testimonials{
			margin: 0;
			padding:0;
			display: -webkit-box;
	    	display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: justify;
		    -webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		    justify-content: space-between;
		}

	.testimonials_para_small{
		display: none;
	}
	
	.testimonials li{
		padding-bottom: 2em;
	}
	
	.image_testimonials{
		width: 40%;
		float: left;
	}
	
	.image_testimonials img{
		width: 100%;
	}
	
	.testimonials a{
		cursor: pointer;
	}
	
	.testimonials a:hover {
		background: #E7B3F5;
	}
	
	.testimonials_para{
		float: right;
	}
	
	#tab1{
		display: block;
	}
	
	#tab2,#tab3{
		display: none;
	}


/****************
CONTACT
****************/

	
	.info{
		float: left;
		width: 40%;
	}



	#map{
		float: right;
	}
	
	
}


	
/************************************
MEDIA QUERIES 3
************************************/

@media (min-width: 850px) {

/****************
SERVICES
****************/
	
	.services img{
		width: 8em;
	}	
	/*body{
		background: blue;
	}*/
	
	
/****************
GALLERY
****************/

	.gallery li{
		margin-top: 1.5em;
	}
	
/****************
CONTACT
****************/
	
	#map{
		width: 350px;
		height: 300px;
	}
	
}

	
/************************************
MEDIA QUERIES 4
************************************/


@media (min-width: 1025px) {
	
/****************
GENERAL
****************/

	.main_content{
		padding-top: 8.7em;
	}
	/*body{
		background: red;
	}*/
	
	
/****************
HEADER
****************/
	
	.site_logo img{
		float: left;
	}
	.main_menu{
		float: right;
		margin-top: 4em;
	}
	.main_menu li{
		margin-left: 1.5em;
		margin-right: 1.5em;
	}

/****************
ABOUT
****************/

	.image_about{
		width: 40%;
		display: block;
		float: left;
		height: 260px;
	}
	
	.image_about img{
		width: 100%;
	}
	
	.about_para{
		width: 60%;
		float: right;
		height: 260px;
		overflow: scroll;
	}

/****************
SERVICES
****************/
	
	.services img{
		width: 10em;
	}	
	
	.image_services{
		width: 40%;
		float: left;
		height: 260px;
	}
	
	.image_services img{
		width: 100%;
	}
	
	.services_para{
		width: 60%;
		float: right;
		height: 260px;
		overflow: scroll;
	}
	
	
/****************
TESTIMONIALS
****************/

	.testimonials a{
		padding: 5px 100px;
	}
	
	.image_testimonials{
		width: 35%;
		float: left;
	}
	
	.testimonials_para{
		width: 60%;
		float: right;
		margin-top: -1em;
	}
	
	
/****************
GALLERY
****************/

	.gallery li{
		margin-top: 2em;
	}
	
/****************
CONTACT
****************/
	
	#map{
		width: 450px;
		height: 300px;
	}
	
}



/************************************
MEDIA QUERIES 5
************************************/


@media (min-width: 1200px) {
	
	
/****************
GENERAL
****************/	
	
	.container{
		width: 1200px;
		margin: auto;
	}
	/*body{
		 /*background: #F2E0F7;
		 background: aqua;
	}*/
	.main_header{
		width: 1200px;
		max-width: 1200px;
	}


/****************
LOGO
****************/

	.site_logo img{
		width: 100px;
		padding-left: 1em;
	}


/****************
ABOUT
****************/

	.about_para{
		height: 300px;
	}
	
/****************
SERVICES
****************/
	
	.services img{
		width: 12em;
	}
	
	.services_para{
		height: 300px;
	}
	
/****************
TESTIMONIALS
****************/

	.testimonials a{
		padding: 5px 130px;
	}


/****************
GALLERY
****************/	
	
	.gallery li{
		width: 28.3333%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		list-style-type: none;
		margin-top: 2.5em;
	}
	
	
/****************
CONTACT
****************/
	
	#map{
		width: 600px;
		height: 400px;
	}
	
}


/************************************
MEDIA QUERIES 6
************************************/


@media (min-width: 1600px) {
	
/****************
GENERAL
****************/
	
	.container{
		width: 1500px;
		margin: auto;
	}
	/*body{
		background: yellow;
	}*/
	.main_header{
		width: 1500px;
		max-width: 1500px;
	}
	
/****************
ABOUT
****************/

	.about_para{
		height: 400px;
	}
	
	
/****************
SERVICES
****************/

	.services_para{
		height: 400px;
	}
	

/****************
GALLERY
****************/	
	
	.gallery li{
		margin-top: 3.5em;
	}
	
/****************
CONTACT
****************/
	
	#map{
		width: 800px;
		height: 500px;
	}
	
}