/************************************
GENERAL STYLES 
************************************/

* {
  box-sizing: border-box; 
}

/************************************
GALLERY
************************************/


.section_gallery{
	padding: 3em;
	background: #BBBEBB;
	width: 100%;
	margin: 1em 0;
}

.gallery{
	margin: 0;
	padding: 0;
}

.content_gallery{
	padding: 2em;
	background: white;
}

.gallery li{
	width: 100%;
	list-style-type: none;
	margin-top: 1em;
}

.gallery a{
	text-decoration: none;
}

.gallery img{
	width: 100%;
}


.logo{
    text-align: center;
}


/************************************
MEDIA QUERIES
************************************/

@media (min-width: 580px) {
    
	.gallery li{
		float: left;
		width: 44%;
		margin-left: 2.4%;
		margin-right: 2.4%;
		margin-top: 1em;
	}
    
}


@media (min-width: 850px) {

	.gallery li{
		margin-top: 1.5em;
	}
}


@media (min-width: 1025px) {

	.gallery li{
		margin-top: 2em;
	}
    
}


@media (min-width: 1200px) {
    	.gallery li{
		width: 27.3333%;
		margin-left: 2.4%;
		margin-right: 2.4%;
		list-style-type: none;
		margin-top: 2.5em;
	}
    
}