/************************************
GENERAL STYLES
************************************/

* {
  box-sizing: border-box;
}

body {
  color: #6E6E6E;
  font-size: 1em;
  margin: 0;
  font-family: Helvetica;
  line-height: 1.5;
  background: white;
}

.container{
  width: 80%;
  margin: auto;
}

.view_content{
  background-color: #e9e9e9;
  text-align: center;
}

/************************************
CLEARFIX
************************************/

.clear::after{
	content: " ";
	display: table;
	clear: both;
}

/************************************
Header
************************************/

#menuBar {
  width: 100%;
  background: #FAAC58;
  padding: 10px;
}

#menuBar h1{
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.dropbtnBoy, .dropbtnGirl, .dropbtnMen, .dropbtnWomen {
    background-color: #777777;
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.dropdownBoy, .dropdownGirl, .dropdownMen, .dropdownWomen {
    position: relative;
    display: inline-block;
    margin: 0.9em 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #D3D3D3}

.dropdownBoy:hover .dropdown-content {
    display: block;
}

.dropdownBoy:hover .dropbtnBoy {
    background-color: #464646;
}

.dropdownGirl:hover .dropdown-content {
    display: block;
}

.dropdownGirl:hover .dropbtnGirl {
    background-color: #464646;
}

.dropdownMen:hover .dropdown-content {
    display: block;
}

.dropdownMen:hover .dropbtnMen {
    background-color: #464646;
}

.dropdownWomen:hover .dropdown-content {
    display: block;
}

.dropdownWomen:hover .dropbtnWomen {
    background-color: #464646;
}


/************************************
Gallery
************************************/

#imagesContainer {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;

}
#imagesContainer img {
  /* Just in case there are inline attributes */
  width: 100% ;
  height: auto ;
  padding-top: 10px;
}

#imagesContainer:nth-child(3n+1){
  padding-left: 10px;
}

#imagesContainer img:nth-child(3n+1){
  padding-right: 10px;
}
