

<div class="container view_content clear">

  <h1>Women's Dresses</h1>
  <div id="gallery" ng-controller="ShoppingCtrl">
    <section id="imagesContainer">
        <a href="#" ng-repeat="data in datas"><img ng-src="{{data.img}}" alt="Women's Dresses" /></a>
    </section>
  </div><!-- end of gallery -->

</div>


<!--
<a href="#"><img src="images/dress2.jpg" alt="Women's Dresses" /></a>
<a href="#"><img src="images/dress3.jpg" alt="Women's Dresses" /></a>
<a href="#"><img src="images/dress4.jpg" alt="Women's Dresses" /></a>
<a href="#"><img src="images/dress5.jpg" alt="Women's Dresses" /></a>
<a href="#"><img src="images/dress6.jpg" alt="Women's Dresses" /></a>
-->
